*{ 
	margin: 0;
	padding: 0;

}
body{
	font-family:  'open Sans',sans-serif;
    background-image: url("images/background.jpg");
    background-size: cover;
}
#vack{
	width: 400px;
	height: 500px;
	background-color: white;
	position: absolute;
	margin: 90px 0 100px 100px;
	border-radius: 15px;
	border-left: 5px solid red;
	border-top: 5px solid red;
	box-shadow: 5px 5px 5px yellow;
}
#header{
	padding: 20px;
	font-size: 30px;
	border-bottom: 2px solid darkred;
	background-image: radial-gradient(circle at top left, black,red);
	text-align: center;
}
h2{
	color: yellow;
	font-style: italic;
	text-decoration: underline;
}
form{
	padding: 30px 30px 30px 50px;
	text-align: left;
	border-radius: 10px;
}
label{
	font-weight: 600;
	font-style: italic;
}
input{
	height: 15px;
	color: rgba(255,0,0,1);
	padding-left: 5px;
}
input[type="radio"]{
	font-size: 10px;
	cursor: pointer;
}
input[type="radio"]:hover{
	box-shadow: 1px 1px 5px red;
}
input[type="date"]{	
	cursor: pointer;
	border-radius: 5px;
}
input[type="text"]{
	border-radius: 5px;
	width: 80%;
}
input[type="email"]{	
	border-radius: 5px;
	width: 80%;
}
input[type="password"]{
	border-radius: 5px;
	width: 80%;
}
button{
	position: relative;
	border: 2px solid black;
	padding: 2px 20px 3px 20px;
	cursor: pointer;
	font-weight: 600;
	text-align: center;
	border-radius: 10px;
	margin-top: 30px;
}
button:hover{
	box-shadow: 1px 1px 5px black;
	background-color: yellow;
}
@media(max-width:700px){
	body{
		height: 400px;
	}
	#vack{
		height: 350px;
		width: 60%;
		margin-left: 80px;
	}
	#header{
		padding: 10px;
		font-size: 10px;
	}
	label{
		font-size: 10px;
	}
	form{
	padding: 20px 5px 30px 20px;
    }
    input[type="submit"]{
    	margin-top:10px ;
    }

	input{
		height: 20px;
		font-size: 10px;
	}


	}